 body{
  background-color: #eee;
  color: white;
  background-image: url(../images/ona.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode:darken;
  overflow-x:hidden;

}
.logo{
  text-align: center;
  background-color: black;
  margin-top: 50px;
  opacity: 0.8;
  width:110%;
  border-radius: 50px;

}
.logo h1{
  font-size:150px;
  font-family: 'Hanalei', cursive;
}
.logo h4{
  font-family: 'Butcherman', cursive;
  font-size: 35px;
}
.content{
  background-color: black;
  opacity:0.8;
  width:110%;
  margin-top: 250px;
  text-align: center;
  height:70px;
  padding: 12px;
  border-radius: 50px;
}
.navbar-brand{
    font-family: 'Hanalei', cursive;
    font-size: 50px;
}

#nav2{
  margin: 10px;
  padding-right: 50px;
  text-align: center;
  font-family:cursive;
  font-size: 40px;
  color:white;
  opacity: 0.8;
}
.row{
  justify-content: flex-end;
}
.contact{
  text-align: center;
  background-color: black;
  margin-top: 50px;
  opacity: 0.8;
  width:110%;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bolder;
  border-radius: 50px;
}
.about{
  text-align: center;
  background-color: black;
  margin-top: 50px;
  opacity: 0.8;
  width:100%;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: bolder;
  font-size: 30px;
  border-radius: 50px;

}
.pewa{
  text-align: center;
  padding: 50px;
}
#uku{
  background-color: #f4f6f7;
  color:black;
  font-family: 'Patua One', cursive;
  text-align: center;
}

#ord{
  background-color: #34495e;
}
#uku h2{
  font-family: 'Lacquer', sans-serif;
}
#uku p{
font-family: 'Patua One', cursive;
}
.checkout{
  display:none;
}
.form{
  display:none;

}
