 body{
  background-color: #eee;
  color: white;
  background-image: url(../images/ona.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode:darken;
}
.logo{
  text-align: center;
  background-color: black;
  margin-top: 50px;
  opacity: 0.8;
  width:110%;

}
.logo h1{
  font-size:150px;
  font-family: 'Hanalei', cursive;
}
.logo h4{
  font-family: 'Butcherman', cursive;
  font-size: 35px;
}
.content{
  background-color: black;
  opacity:0.8;
  width:110%;
  margin-top: 250px;
  text-align: center;
}
.navbar-brand{
    font-family: 'Hanalei', cursive;
    font-size: 50px;
}
.nav{
  left: 100%;
}
#nav1{
  margin:10px;
  padding-right: 50px;
}
#nav2{
  margin:10px;
  padding-right: 70px;
  text-align: center;
}
.row{
  justify-content: flex-end;
}
